<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel='import' href='./icons/mdi.html'>
<link rel='import' href='./icons/fa.html'>
<link rel='import' href='./roboto.html'>

<style is="custom-style">
  :root {
    --dark-primary-color: #0288D1;
    --default-primary-color: #558A2E;
    --light-primary-color: #B3E5FC;
    --text-primary-color: #ffffff;
    --accent-color: #FF9800;
    --primary-background-color: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #727272;
    --disabled-text-color: #bdbdbd;
    --divider-color: #B6B6B6;

    --paper-toggle-button-checked-ink-color: #8AC252;
    --paper-toggle-button-checked-button-color: #8AC252;
    --paper-toggle-button-checked-bar-color: #C3DF9E;

    --paper-toolbar-background: #558A2E;

    font-size: 14px;
  }

  @-webkit-keyframes ha-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes ha-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }

  .ha-spin {
    -webkit-animation: ha-spin 2s infinite linear;
    animation: ha-spin 2s infinite linear;
  }
</style>
