<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<!-- <link rel="import" href="../../bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-down-animation.html">
 -->
<link rel="import" href="../state-summary/state-card-content.html">
<link rel="import" href="../components/state-history-charts.html">
<link rel="import" href="../components/state-history-chart-content.html">
<link rel="import" href="../more-infos/more-info-content.html">

<dom-module id="more-info-dialog">
  <style>
    paper-dialog {
      font-size: 14px;
    }

    state-card-content {
      margin-bottom: 24px;
      font-size: 14px;
    }

    @media all and (max-width: 450px) {
      paper-dialog {
        margin: 0;
        width: 100%;
        max-height: calc(100% - 64px);

        position: fixed !important;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: scroll;
      }
    }
  </style>
  <template>
    <!-- entry-animation='slide-up-animation' exit-animation='slide-down-animation' -->
    <paper-dialog id="dialog" with-backdrop opened='{{dialogOpen}}'>
      <h2><state-card-content state-obj="[[stateObj]]"></state-card-content></h2>
      <div>
        <template is='dom-if' if="[[showHistoryComponent]]">
          <template is="dom-if" if="[[stateHistory]]">
          <state-history-chart-content domain="[[stateObj.domain]]" state-history="[[stateHistory]]"
            ></state-history-chart-content>
          </template>
        </template>
        <paper-dialog-scrollable>
          <more-info-content state-obj="[[stateObj]]"></more-info-content>
        </paper-dialog-scrollable>
      </div>
    </paper-dialog>
  </template>
</dom-module>
