<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="ha-entity-toggle">
  <style>
    paper-icon-button {
      transition: color .5s;
    }
    paper-icon-button[state-active] {
      color: var(--default-primary-color);
    }
    paper-toggle-button {
      cursor: pointer;
      --paper-toggle-button-label-spacing: 0;
    }
  </style>
  <template>
    <template is='dom-if' if='[[stateObj.attributes.assumed_state]]'>
      <paper-icon-button icon="mdi:flash-off" on-tap="turnOff" state-active$='[[!isOn]]'></paper-icon-button>
      <paper-icon-button icon="mdi:flash" on-tap="turnOn" state-active$='[[isOn]]'></paper-icon-button>
    </template>
    <template is='dom-if' if='[[!stateObj.attributes.assumed_state]]'>
      <paper-toggle-button class='self-center'
        disabled$="[[ toggleDisabled ]]"
        checked="[[toggleChecked]]"
        on-change="toggleChanged"></paper-toggle-button>
    </template>
  </template>
</dom-module>
