<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../../bower_components/iron-image/iron-image.html'>
<link rel='import' href='../../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../../bower_components/paper-tooltip/paper-tooltip.html'>

<dom-module id='ha-entity-marker'>
  <style>
  .marker {
    vertical-align: top;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 100%;
    line-height: 100%;
    font-size: 1.5em;
    border-radius: 50%;
    color: rgb(76, 76, 76);
    background-color: white;
  }
  iron-image {
    border-radius: 50%;
  }
  iron-icon {
    width: 50%;
    height: 100%;
  }
  .text {
    color: white;
  }
  </style>
  <template>
    <div class='marker'>
      <template is='dom-if' if='[[icon]]'>
        <iron-icon icon='[[icon]]'></iron-icon>
      </template>
      <template is='dom-if' if='[[value]]'><span class="text">[[value]]</span></template>
      <template is='dom-if' if='[[image]]'>
        <iron-image id='image' sizing='cover' class='fit' src='[[image]]'></iron-image>
        <paper-tooltip for='image' position='top'>[[valueDisplay]]</paper-tooltip>
      </template>
    </div>
  </template>
</dom-module>
