<link rel='import' href='../../bower_components/polymer/polymer.html'>

<link rel='import' href='more-info-default.html'>
<link rel='import' href='more-info-group.html'>
<link rel='import' href='more-info-sun.html'>
<link rel='import' href='more-info-configurator.html'>
<link rel='import' href='more-info-thermostat.html'>
<link rel='import' href='more-info-script.html'>
<link rel='import' href='more-info-light.html'>
<link rel='import' href='more-info-media_player.html'>
<link rel='import' href='more-info-camera.html'>
<link rel='import' href='more-info-updater.html'>
<link rel='import' href='more-info-alarm_control_panel.html'>
<link rel='import' href='more-info-lock.html'>
<link rel='import' href='more-info-tank.html'>

<dom-module id='more-info-content'>
  <style>
    :host {
      display: block;
    }
  </style>
</dom-module>
