<link rel='import' href='../../bower_components/polymer/polymer.html'>

<link rel='import' href='../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../bower_components/paper-input/paper-input.html'>

<dom-module id='more-info-tank'>
  <template>
      <div class='layout horizontal'>
        <paper-input label='height' value='{{value}}'></paper-input>
	      <paper-button on-tap='handleSubmit' disabled='[[!valueValid]]'>Submit</paper-button>
      </div>
  </template>
</dom-module>
