<iron-iconset-svg name="agsense" iconSize="24">
        <svg>
            <g id="load-cell">
                <path id="load-cell" d="M21.076,7.301C20.873,6.145,19.747,5.2,18.573,5.2h-5.275V2.597H22L24,0H0l2,2.597h8.702V5.2H5.426
	                c-1.174,0-2.299,0.945-2.501,2.102L0.032,21.899C-0.171,23.055,0.624,24,1.797,24h20.405c1.174,0,1.968-0.945,1.767-2.101
                    L21.076,7.301z M12,21.398c-3.755,0-6.799-3.044-6.799-6.798c0-3.756,3.044-6.8,6.799-6.8s6.8,3.043,6.8,6.8
                    C18.8,18.354,15.755,21.398,12,21.398z M15.828,10.264l0.177,0.165l-2.287,5.12l-0.01-0.001c-0.334,0.6-0.973,1.006-1.708,1.006
                    c-1.079,0-1.954-0.875-1.954-1.953c0-0.701,0.37-1.314,0.924-1.66c0-0.002,0.001-0.005,0.001-0.008L15.828,10.264z"/>
            </g>
            <g id="flowrate">
                <path fill="#3583C0" d="M23.278,5.82c-1.485,0.968-2.767,1.804-5.49,1.804c-2.723,0-4.004-0.836-5.489-1.804
                    C10.784,4.832,9.066,3.713,5.79,3.713c-2.772,0-4.428,0.801-5.79,1.646v2.219c0.101-0.065,0.201-0.13,0.3-0.194
                    C1.784,6.416,3.067,5.58,5.79,5.58c2.723,0,4.005,0.836,5.49,1.804c1.514,0.987,3.231,2.107,6.508,2.107
                    c3.065,0,4.765-0.979,6.212-1.914v-2.22C23.751,5.512,23.512,5.668,23.278,5.82z"/>
                <path fill="#3583C0" d="M23.278,11.225c-1.485,0.968-2.767,1.804-5.49,1.804c-2.723,0-4.004-0.836-5.489-1.804
                    c-1.515-0.988-3.232-2.107-6.509-2.107c-2.772,0-4.428,0.801-5.79,1.646v2.22c0.101-0.066,0.201-0.131,0.3-0.195
                    c1.484-0.968,2.768-1.804,5.49-1.804c2.723,0,4.005,0.835,5.49,1.804c1.514,0.987,3.231,2.108,6.508,2.108
                    c3.065,0,4.765-0.979,6.212-1.914v-2.219C23.751,10.917,23.512,11.073,23.278,11.225z"/>
                <path fill="#3583C0" d="M23.278,16.615c-1.485,0.969-2.767,1.805-5.49,1.805c-2.723,0-4.004-0.836-5.489-1.805
                    c-1.515-0.988-3.232-2.107-6.509-2.107c-2.772,0-4.428,0.801-5.79,1.646v2.219c0.101-0.064,0.201-0.129,0.3-0.193
                    c1.484-0.969,2.768-1.805,5.49-1.805c2.723,0,4.005,0.836,5.49,1.805c1.514,0.986,3.231,2.107,6.508,2.107
                    c3.065,0,4.765-0.98,6.212-1.914v-2.221C23.751,16.309,23.512,16.463,23.278,16.615z"/>
            </g>
            <g id="soil-moisture">
                <path fill="#231F20" d="M20.25,11.926h-5.047c-0.248,2.984-2.758,5.338-5.809,5.338c-3.052,0-5.562-2.354-5.812-5.338H0v9.145
                    c0,1.293,1.044,2.338,2.337,2.338h19.324c1.29,0,2.339-1.045,2.339-2.338v-9.145H20.25z"/>
                <path fill="#3583C0" d="M9.395,3.663c0,0-4.459,4.059-4.459,7.77c0,2.46,1.997,4.457,4.459,4.457c2.461,0,4.459-1.997,4.459-4.457
                    C13.854,7.546,9.395,3.663,9.395,3.663z"/>
                <path fill="#3583C0" d="M20.95,5.645c0,1.6-1.297,2.9-2.899,2.9c-1.604,0-2.9-1.301-2.9-2.9c0-2.41,2.9-5.053,2.9-5.053
                    S20.95,3.119,20.95,5.645z"/>
            </g>
            <g id="soil-moisture2">
                <path fill="#231F20" d="M20.252,10.441c0,4.553-3.69,8.243-8.243,8.243c-4.554,0-8.244-3.69-8.244-8.243H0v10.865
                    c0,1.291,1.047,2.338,2.338,2.338h19.324c1.291,0,2.338-1.047,2.338-2.338V10.441H20.252z"/>
                <path fill="#3583C0" d="M17.797,10.441c0,3.196-2.592,5.788-5.788,5.788c-3.197,0-5.788-2.592-5.788-5.788
                    c0-4.814,5.788-10.086,5.788-10.086S17.797,5.398,17.797,10.441z"/>
            </g>
            <g id="soil-temperature">
                <rect x="17.024" y="8.801" width="2.179" height="1.307"/>
                <rect x="17.024" y="5.56" width="2.179" height="1.308"/>
                <rect x="17.024" y="2.266" width="2.179" height="1.307"/>
                <path d="M15.343,10.836V3.242c0-1.816-1.479-3.294-3.295-3.294S8.754,1.425,8.754,3.242v7.558c-0.97,0.888-1.579,2.164-1.579,3.58
                    c0,2.676,2.178,4.854,4.854,4.854c2.677,0,4.854-2.178,4.854-4.854C16.883,12.982,16.29,11.722,15.343,10.836z M12.028,17.873
                    c-1.927,0-3.494-1.567-3.494-3.494c0-1.22,0.629-2.295,1.579-2.92v0V3.242c0-1.067,0.868-1.935,1.935-1.935
                    c1.067,0,1.935,0.868,1.935,1.935v8.238h-0.005c0.932,0.628,1.546,1.694,1.546,2.899C15.523,16.306,13.956,17.873,12.028,17.873z"/>
                <path d="M12.701,12.426V6.692c0-0.375-0.304-0.68-0.68-0.68c-0.375,0-0.68,0.305-0.68,0.68v5.738
                    c-0.803,0.283-1.379,1.048-1.379,1.948c0,1.141,0.925,2.065,2.065,2.065s2.065-0.925,2.065-2.065
                    C14.094,13.474,13.512,12.705,12.701,12.426z"/>
                <path d="M18.297,14.379c0,3.462-2.807,6.268-6.269,6.268c-3.461,0-6.268-2.806-6.268-6.268H1.988V24h20.025v-9.621H18.297z"/>
            </g>
        </svg>
</iron-iconset-svg>

