<iron-iconset-svg name="fa" iconSize="24">
  <svg>
    <defs>
    <g id="export">
    <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z" />
    </g>    
    <g id="nodered">
    <path d="M14,15.796l-0.357-0.724l0.159,0.321L14,15.318V18V15.796zz M4,14c-0.551,0-1-0.448-1-1v-2c0-0.551,0.449-1,1-1h5
    c0.551,0,1,0.449,1,1v2c0,0.552-0.449,1-1,1H4zzz"/>
    <path d="M9,11v2H4v-2H9 M20,4h-5c-1.104,0-2,0.896-2,2v2c0,0.002,0.001,0.004,0.001,0.006L11.506,11H11c0-1.104-0.896-2-2-2H4
    c-1.104,0-2,0.896-2,2v2c0,1.104,0.896,2,2,2h5c1.104,0,2-0.896,2-2h0.504L13,16.029V18c0,1.104,0.896,2,2,2h5
    c1.104,0,2-0.896,2-2v-2c0-1.104-0.896-2-2-2h-5c-0.249,0-0.485,0.051-0.705,0.135l-1.054-2.133l1.064-2.132
    C14.522,9.95,14.755,10,15,10h5c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4L20,4z M15,8V6h5v2H15L15,8z M15,18v-2h5v2H15
    L15,18z"/>
    </g>
    <g id="logo">
    <path fill="#FFFFFF" d="M1.791,21.038c0.445,0,2.343,0,2.343,0s-1.101-2.319-3.76-2.647C1.135,19.152,1.58,19.96,1.791,21.038z"
                         />
    <path fill="#FFFFFF" d="M0.537,14.877c6.149,0.633,7.509,6.15,7.509,6.15s-2.448,0-3.198,0
    C4.333,18.367,2.88,16.131,0.537,14.877z"/>
    <path fill="#FFFFFF" d="M2.29,11.761c7.888,1.617,9.277,9.23,9.277,9.23s-0.851,0-3.03,0C7.834,16.68,5.867,13.8,2.29,11.761z"/>
    <path fill="#FFFFFF" d="M3.29,8.411c10.707,2.788,11.855,12.581,11.855,12.581s-0.984,0-3.163,0
    C11.38,15.571,7.952,10.496,3.29,8.411z"/>
    <path fill="#FFFFFF" d="M4.883,5.357c12.651,3.811,13.612,15.634,13.612,15.634s-0.813,0-2.991,0
    C15.011,13.893,9.967,7.638,4.883,5.357z"/>
    <path fill="#FFFFFF" d="M6.523,2.374c14.291,4.639,15.33,18.617,15.33,18.617s-0.813,0-2.992,0
    C18.346,12.261,12.442,5.077,6.523,2.374z"/>
    <path fill="#FFFFFF" d="M9.053,0C23.875,5.764,25,20.991,25,20.991s-0.633,0-2.812,0C21.126,11.449,17.627,5.326,9.053,0z"/>
    </g>
    </defs>
  </svg>
</iron-iconset-svg>
