<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">


<dom-module id="camera-slider">
  <style>
    paper-slider {
      width: 100%;
    }
    .frame {
      display: block;
      height: 340px;
      margin: auto;
    }
    .caption {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 30px;

      background-color: rgba(0, 0, 0, 0.3);
      padding: 16px;

      text-transform: capitalize;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      color: white;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  </style>
  <template>
    <div class="camera-slider">
      <img class="frame" src="[[activeFrame.url]]"></img>
      <div class="caption">
        [[ caption ]]
      </div>
      <paper-slider snaps
           value="[[sliderLength]]" max="[[sliderLength]]" max-markers="[[sliderLength]]" step="1"
           on-immediate-value-change="frameSelected" on-change="frameSelected">
      </paper-slider>
    </div>
  </template>
</dom-module>
