<link rel='import' href='../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../bower_components/paper-header-panel/paper-header-panel.html'>
<link rel='import' href='../../bower_components/paper-toolbar/paper-toolbar.html'>
<link rel='import' href='../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../bower_components/paper-item/paper-item.html'>
<link rel='import' href='../../bower_components/paper-item/paper-icon-item.html'>
<link rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html'>

<link rel='import' href='../components/stream-status.html'>

<dom-module id='ha-sidebar'>
  <style>
    .sidenav {
      -ms-user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
    }

    paper-toolbar {
      --paper-toolbar-background: #89C544;
      --paper-toolbar-color: #000;
    }

    div.title {
      text-align: left;
      margin-top: 5px !important;
      margin-left: 2px !important;
			font-weight: 700 !important;
			color: white;
    }

    div.menu {
      color: var(--secondary-text-color);
      margin-top: 8px;
    }

    paper-icon-item {
      padding-left: 24px;
      cursor: pointer;
      font-weight: 500;
    }

    paper-icon-item.selected {
      color: var(--default-primary-color);
      background-color: #f0f0f0;
    }

    paper-icon-item.logout {
      margin-top: 16px;
    }

    .divider {
      border-top: 1px solid #e0e0e0;
    }

    .text {
      padding: 16px;
      font-size: 14px;
      font-weight: 500;
    }

    .dev-tools {
      padding: 0 8px;
    }

    .logo {
      --iron-icon-height: 22px;
      --iron-icon-width: 24px;
    }
  </style>

  <template>
    <paper-header-panel mode='scroll' class='sidenav fit'>
      <paper-toolbar>
        <!-- forces paper toolbar to style title appropriate -->
        <paper-icon-button icon='mdi:menu' hidden$='[[!narrow]]' on-tap='toggleMenu'></paper-icon-button>
        <iron-icon icon="fa:logo" class="logo"></iron-icon>
        <div class="title">Farm Assistant</div>
      </paper-toolbar>
      <div class='menu'>
        <paper-icon-item on-tap='menuClicked' data-panel='states'>
          <iron-icon item-icon icon='mdi:apps'></iron-icon> States
        </paper-icon-item>

        <paper-icon-item on-tap='menuClicked' data-panel='map'>
          <iron-icon item-icon icon='mdi:account-location'></iron-icon>
          Map
        </paper-icon-item>

        <paper-icon-item on-tap='menuClicked' data-panel='red'>
          <iron-icon item-icon style="opacity: 1" icon="fa:nodered"></iron-icon>
          Nodes
        </paper-icon-item>

        <template is='dom-if' if='[[hasHistoryComponent]]'>
          <paper-icon-item on-tap='menuClicked' data-panel='history'>
            <iron-icon item-icon icon='mdi:poll-box'></iron-icon>
            History
          </paper-icon-item>
        </template>

        <paper-icon-item on-tap='menuClicked' data-panel='logout' class='logout'>
          <iron-icon item-icon icon='mdi:exit-to-app'></iron-icon>
          Log Out
        </paper-icon-item>

        <paper-item class='divider horizontal layout justified'>
          <div>Streaming updates</div>
          <stream-status></stream-status>
        </paper-item>

        <div class='text label divider'>Developer Tools</div>
        <div class='dev-tools layout horizontal justified'>
          <paper-icon-button
            icon='mdi:remote' data-panel='devService'
            on-tap='handleDevClick'></paper-icon-button>
          <paper-icon-button
            icon='mdi:code-tags' data-panel='devState'
            on-tap='handleDevClick'></paper-icon-button>
          <paper-icon-button
            icon='mdi:radio-tower' data-panel='devEvent'
            on-tap='handleDevClick'></paper-icon-button>
          <paper-icon-button
            icon='mdi:file-xml' data-panel='devTemplate'
            on-tap='handleDevClick'></paper-icon-button>
          <paper-icon-button
            icon='mdi:information-outline' data-panel='devInfo'
            on-tap='handleDevClick'></paper-icon-button>
        </div>
      </div>
    </paper-header-panel>

  </template>
</dom-module>
