<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">

<link rel="import" href="../../bower_components/flatpickr-elements/flatpickr.html">

<dom-module id="period-picker">
  <style>
  .picker-container {
    display: inline-block;
  }

  #periods {
    float: right;
    text-align: center;
    color: black;
    margin: 0 10px;
  }

  .dropdown-content {
    width: 670px;
    height: 267px;
    background: white;
    overflow: hidden !important;
  }

  flatpickr-date {
    display: inline-block;
    margin: 5px;
    --flatpickr-month-background: #89C544;
    --flatpickr-weekdays-background: #558A2E;
    --flatpickr-selected-background: #89C544;
    --flatpickr-selected-border: #89C544;
  }


  :host {
    --paper-input-container-input-color: white;
    --paper-input-container-color: lightgray;
  }

  </style>
  <template>

    <paper-input label="Selected period"
                 always-float-label
                 value="[[ selectedPeriodLabel ]]"
                 on-click="togglePicker">
    </paper-input>

    <iron-dropdown id="dropdown" horizontal-align="right" vertical-align="top">
      <paper-material class="dropdown-content">
        <flatpickr-date inline
          on-change="periodStartChanged"
          max-date="today"
          date="[[ selectedPeriod.start ]]"></flatpickr-date>
        <flatpickr-date inline
          on-change="periodEndChanged"
          date="[[ selectedPeriod.end ]]"
          min-date="[[ selectedPeriod.start ]]"
          max-date="today"></flatpickr-date>

        <paper-menu id="periods">
          <template is="dom-repeat" items="[[ periods ]]">
            <paper-item on-tap="periodSelected">[[ item.title ]]</paper-item>
          </template>
        </div>
      
      </paper-material>
    </iron-dropdown>

    <!--div id="picker-container">
    
    </div-->
  </template>
</dom-module>
