<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../state-summary/state-card.html">

<dom-module id="state-cards">
  <style>
  :host {
    display: block;
  }

  @media all and (min-width: 1020px) {
    .state-card {
      width: calc(50% - 44px);
      margin: 8px 0 0 8px;
    }
  }

  @media all and (min-width: 1356px) {
    .state-card {
      width: calc(33% - 38px);
    }
  }

  @media all and (min-width: 1706px) {
    .state-card {
      width: calc(25% - 42px);
    }
  }

  .no-states-content {
    max-width: 500px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px;
    padding: 0 16px 8px;
    margin: 16px;
  }
  </style>

  <template>
    <div class='horizontal layout wrap'>

      <template is='dom-repeat' items="{{states}}">
        <state-card class="state-card" state-obj="[[item]]"></state-card>
      </template>

      <template is='dom-if' if="[[computeEmptyStates(states)]]">
        <div class='no-states-content'>
          <h3>Hi there!</h3>
          <p>
            It looks like we have nothing to show you right now. It could be that we have not yet discovered all your devices but it is more likely that you have not configured Farm Assistant yet.
          </p>
        </div>
      </template>

    </div>
  </template>
</dom-module>
