<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../bower_components/paper-menu-button/paper-menu-button.html'>
<link rel='import' href='../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html'>

<dom-module id="state-history-line">
  <style>
    paper-icon-button.export-icon {
      width: 48px;
      height: 48px;
      position: absolute;
      opacity: 0.5;
    }

    paper-icon-button.export-icon:hover {
      opacity: 1;
    }

    paper-menu a {
      text-decoration: none;
      color: black;
    }

    paper-menu a:hover {
      text-decoration: underline;
    }

    paper-menu-button {
      position: absolute;  
      float: right;
      top: -2px;
      right: 45px;
    }


    svg {
      width: 100%;
      height: 400px;
    }
    
    .zoom {
      cursor: move;
      fill: none;
      pointer-events: all;
    }

    .handle {
      fill: none;
    }
  
    .brush {
      fill: #eee;
    }
    
    .entity.disabled {
      stroke-opacity: 0.1;
      fill-opacity: 0.3;
    }

    .legend {
      font-size: 14px;         
      text-anchor: start;
    }

    .series-0 {
      stroke: #31a354;
      fill: #31a354;
    }

    .series-1 {
      stroke: #74c476;
      fill: #74c476;
    }

    .series-2 {
      stroke: #a1d99b;
      fill: #a1d99b;
    }

    .series-3 {
      stroke: #c7e9c0;
      fill: #c7e9c0;
    }
    
    .focus .entity .line {
      fill: none;
      stroke-width: 1.5px;
      clip-path: url(#clip);
    }

    .context .entity .line {
      fill: none;
    }

    .context .lines {
    }

    .context .overlay {
      fill: none;
    }

  </style>
  <template>
    <div>
      <paper-menu-button horizontal-align="right">
        <paper-icon-button
                         icon="fa:export"
                         class="dropdown-trigger export-icon">
        </paper-icon-button>
        <paper-menu class="export-menu dropdown-content">
          <template is="dom-repeat" items="[[ exportMenuItems(data) ]]">
            <paper-item>
              <a href="[[ item.url ]]">CSV for {{ item.title }}</a>
            </paper-item>
          </template>
        </paper-menu>
      </paper-menu-button>
      <svg></svg>
    </div>
  </template>
</dom-module>
