<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="state-history-export">
  <template>
    <template is='dom-repeat' items='[[data]]'>
      <a href="[[computeURL(item)]]">[[computeLabel(item)]]</a>
    </template>
  </template>
</dom-module>
