<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="./camera-slider.html">

<dom-module id="state-history-camera">
  <template>
    <paper-tabs selected="{{selected}}" scrollable>
      <template is='dom-repeat' items='[[ filteredData ]]'>
        <paper-tab>[[item.key]]</paper-tab>
      </template>
    </paper-tabs>
    <camera-slider frames="[[frames]]"></camera-slider>
  </template>

</dom-module>
