<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<link rel="import" href="./loading-box.html">
<link rel="import" href="../components/state-history-chart-content.html">
<link rel="import" href="../components/period-picker.html">

<dom-module id="state-history-charts">
<style>
  :host {
    display: block;
    padding-right: 8px;
  }

  .loading-container {
    text-align: center;
    padding: 8px;
  }

  .loading {
    height: 0px;
    overflow: hidden;
  }
  
  #history-container {     
    position: relative;
    margin: auto;
  }
  
  .history-column {
    float: left;
  }
  
  .history-card {
    margin: 10px;
    display: block;
    border-radius: 2px;
    transition: all 0.30s ease-out;
    height: 420px;
    background-color: white;
  }

  .period-picker {
    height: 230px;
  }

  @media all and (min-width: 1650px) {
    #history-container {
      width: 1400px;
    }
    .history-column {
      min-width: 700px;
    }
  }

  @media all and (max-width: 1650px) and (min-width: 1008px) {
    #history-container {
      width: 100%;
    }
    .history-column {
      width: 50%;
    }
  }

  @media all and (max-width: 1008px) {
    .history-column {
      width: 100%;
      min-width: 320px;
    }
  }
</style>
<template>
  <div hidden$="[[!isLoadingData]]" class='loading-container'>
    <loading-box>Updating history data</loading-box>
  </div>

  <div id="history-container">
    <template is="dom-repeat" items="[[ cards.columns ]]" as="column">
      <div class="history-column">
        <template is="dom-repeat" items="[[ column ]]" as="card">
          <paper-material class="history-card">
            <state-history-chart-content
                          entities="[[ card.entities ]]"
                          domain="[[ card.domain ]]">
            </state-history-chart-content>           
          </paper-material>
        </template>
      </div>
    </template>
  </div>
</template>
</dom-module>
