<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../components/state-history-line.html">
<link rel="import" href="../components/state-history-camera.html">

<dom-module id="state-history-chart-content">
	<template>
		<template is="dom-if" if="true" restamp="true" id="cards">
			<template is="dom-if" if="[[ isCamera ]]" restamp>
				<state-history-camera data="[[data]]"> 
				</state-history-camera> 
			</template>
			<template is="dom-if" if="[[ isLineChart ]]" restamp>
				<state-history-line data="[[data]]"></state-history-line>
			</template>
		</template>
	</template>
</dom-module>
