<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../resources/icons/agsense-icons.html">

<dom-module id="state-card-soil_moisture">
<style>
    .fillgauge {
            display: inline-block;
    }
    state-badge {
            float: left;
    }
    .info {
            display: inline-block;
            margin-left: 16px;
    }
    .name {
            text-transform: capitalize;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow-x: hidden;
    }
</style>
  <template>
    <div class='horizontal justified layout'>
            <iron-icon icon="agsense:soil-moisture"></iron-icon>
        <div class="info">
            <div class="name" > LEIAM WAS HEREJk:q[[stateObj.entityDisplay]] </div>
        </div>
    </div>
  </template>
</dom-module>

