<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="state-card-soil_temperature">
<style>
</style>
  <template>
    <div class='horizontal justified layout'>
      <state-info state-obj='[[stateObj]]'></state-info>
    </div>
  </template>
</dom-module>
