<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../components/state-info.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="state-card-fence">
  <style>
    paper-toggle-button {
      cursor: pointer;
      --paper-toggle-button-label-spacing: 0;
    }
  </style>
  <template>
    <div class='horizontal justified layout center'>
      <state-info state-obj="[[stateObj]]"></state-info>

      <paper-toggle-button class='self-center' 
        checked="[[toggleChecked]]"
        disabled="[[toggleDisabled]]"
        on-change="toggleChanged"></paper-toggle-button>
    </div>
  </template>
</dom-module>
