<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../resources/icons/agsense-icons.html">

<dom-module id="state-card-tank">
<style>
  .liquidFillGaugeText {
    font-weight: bold;
  }
  .fillgauge {
    display: inline-block;
  }
  :host {
    line-height: 1.5;
    min-width: 150px;
    white-space: nowrap;
  }

  state-badge {
    float: left;
  }

  .info {
    display: inline-block;
    margin-left: 16px;
  }

  .name {
    text-transform: capitalize;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  .time-ago {
    color: var(--secondary-text-color);
    margin-top: -2px;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
</style>
  <template>
    <div class='horizontal justified layout'>
    <div>
      <state-badge state-obj='[[stateObj]]'></state-badge>
      <svg class="fillgauge" width="37" height="37"></svg>
      <div class='info'>
        <div class='name'>[[stateObj.entityDisplay]]</div>
        <div class='time-ago'>
          <relative-ha-datetime datetime-obj='[[stateObj.lastChangedAsDate]]'></relative-ha-datetime>
        </div>
      </div>
    </div>
    </div>
  </template>
</dom-module>
