<link rel='import' href='../bower_components/polymer/polymer.html'>
<link rel='import' href='../bower_components/iron-flex-layout/classes/iron-flex-layout.html'>
<link rel='import' href='../bower_components/paper-styles/typography.html'>
<link rel="import" href="../bower_components/iron-iconset-svg/iron-iconset-svg.html">

<link rel='import' href='layouts/login-form.html'>
<link rel='import' href='layouts/home-assistant-main.html'>

<link rel='import' href='resources/home-assistant-style.html'>

<dom-module id='home-assistant'>
  <style>
    :host {
      font-family: 'Roboto', 'Noto', sans-serif;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }
  </style>

  <template>
    <template is='dom-if' if='[[!loaded]]'>
      <login-form></login-form>
    </template>

    <template is='dom-if' if='[[loaded]]'>
      <home-assistant-main></home-assistant-main>
    </template>
  </template>
</dom-module>
