<link rel='import' href='../../bower_components/polymer/polymer.html'> 
<link rel='import' href='../../bower_components/paper-drawer-panel/paper-drawer-panel.html'>
<link rel='import' href='../../bower_components/iron-media-query/iron-media-query.html'>
<link rel='import' href='../layouts/partial-cards.html'>
<link rel='import' href='../layouts/partial-red.html'>
<link rel='import' href='../layouts/partial-history.html'>
<link rel='import' href='../layouts/partial-map.html'>
<link rel='import' href='../layouts/partial-red.html'>
<link rel='import' href='../layouts/partial-dev-call-service.html'>
<link rel='import' href='../layouts/partial-dev-fire-event.html'>
<link rel='import' href='../layouts/partial-dev-set-state.html'>
<link rel='import' href='../layouts/partial-dev-template.html'>
<link rel='import' href='../layouts/partial-dev-info.html'>
<link rel='import' href='../managers/notification-manager.html'>
<link rel="import" href="../dialogs/more-info-dialog.html">
<link rel="import" href="../dialogs/ha-voice-command-dialog.html">

<link rel='import' href='../components/ha-sidebar.html'>

<dom-module id='home-assistant-main'>
  <template>
    <notification-manager></notification-manager>
    <more-info-dialog></more-info-dialog>
    <ha-voice-command-dialog></ha-voice-command-dialog>
    <iron-media-query query="(max-width: 870px)" query-matches="{{narrow}}">
    </iron-media-query>

    <paper-drawer-panel id='drawer'
      force-narrow='[[computeForceNarrow(narrow, showSidebar)]]'
      responsive-width='0' disable-swipe='[[isSelectedMap]]' 
      disable-edge-swipe='[[isSelectedMap]]'>
      <ha-sidebar drawer></ha-sidebar>

      <template is='dom-if' if='[[isSelectedStates]]'>
        <partial-cards main narrow='[[narrow]]' show-menu='[[showSidebar]]'></partial-cards>
      </template>
      <template is='dom-if' if='[[isSelectedRed]]'>
        <partial-red main narrow='[[narrow]]' show-menu='[[showSidebar]]'></partial-red>
      </template>
      <template is='dom-if' if='[[isSelectedHistory]]'>
        <partial-history main narrow='[[narrow]]' show-menu='[[showSidebar]]'></partial-history>
      </template>
      <template is='dom-if' if='[[isSelectedMap]]'>
        <partial-map main narrow='[[narrow]]' show-menu='[[showSidebar]]'></partial-map>
      </template>
      <template is='dom-if' if='[[isSelectedDevService]]'>
        <partial-dev-call-service main narrow='[[narrow]]' show-menu='[[showSidebar]]'></partial-dev-call-service>
      </template>
      <template is='dom-if' if='[[isSelectedDevEvent]]'>
        <partial-dev-fire-event main narrow='[[narrow]]' show-menu='[[showSidebar]]'></partial-dev-fire-event>
      </template>
      <template is='dom-if' if='[[isSelectedDevState]]'>
        <partial-dev-set-state main narrow='[[narrow]]' show-menu='[[showSidebar]]'></partial-dev-set-state>
      </template>
      <template is='dom-if' if='[[isSelectedDevTemplate]]'>
        <partial-dev-template main narrow='[[narrow]]' show-menu='[[showSidebar]]'></partial-dev-template>
      </template>
      <template is='dom-if' if='[[isSelectedDevInfo]]'>
        <partial-dev-info main narrow='[[narrow]]' show-menu='[[showSidebar]]'></partial-dev-info>
      </template>
    </paper-drawer-panel>

  </template>
</dom-module>
