<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="login-form">
  <style>
    :host {
      white-space: nowrap;
    }

    #passwordDecorator {
      display: block;
      margin-bottom: 16px;
    }

    paper-checkbox {
      margin-right: 8px;
    }

    paper-checkbox::shadow #checkbox.checked {
      background-color: #03a9f4;
      border-color: #03a9f4;
    }

    paper-checkbox::shadow #ink[checked] {
      color: #03a9f4;
    }

    paper-button {
      margin-left: 72px;
    }

    .interact {
      height: 125px;
    }

    #validatebox {
      margin-top: 16px;
      text-align: center;
    }

    .validatemessage {
      margin-top: 10px;
    }

    #tos {
      white-space: normal;
        padding: 30px;
    }

    .centered {
      text-align: center;
    }

    .note {
      font-family: monospace;
    }

    .continue {
      margin: 20px 0;
      align:center;
      background-color: var(--paper-green-500);
      color: white;
    }
  </style>

  <template>
    <div class="layout vertical center center-center fit">
      <img src="/static/favicon/apple-touch-icon-180x180.png" height="192" />
      <a href="#" id="hideKeyboardOnFocus"></a>
      <div class='interact'>
        <div id='loginform' hidden$="[[showLoading]]">
          <paper-input-container id="passwordDecorator" invalid="[[isInvalid]]">
            <label>Password</label>
            <input is="iron-input" type="password" id="passwordInput" />
            <paper-input-error invalid="[[isInvalid]]">[[errorMessage]]</paper-input-error>
          </paper-input-container>
          <div class="layout horizontal center">
            <paper-checkbox for id='rememberLogin' checked>Remember</paper-checkbox>
            <paper-button id='loginButton'>Log In</paper-button>
          </div>
        </div>
        <div id="validatebox" hidden$="[[!showLoading]]">
          <paper-spinner active="true"></paper-spinner><br />
          <div class="validatemessage">Loading data</div>
        </div>
      </div>
    </div>
  </template>
</dom-module>
