<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="./partial-base.html">

<dom-module id="partial-dev-info">
  <style>
    .content {
      margin-top: 64px;
      padding: 24px;
      background-color: white;
      -ms-user-select: initial;
      -webkit-user-select: initial;
      -moz-user-select: initial;
    }

    .about {
      line-height: 2em;
      padding-bottom: 40px;
    }

    .version {
      font-size: 24px;
    }

    .develop {
      font-size: 18px;
    }

    .about a {
      color: var(--dark-primary-color);
    }

    .error-log-intro {
      margin-top: 16px;
      border-top: 1px solid var(--light-primary-color);
      padding-top: 16px;
    }

    paper-icon-button {
      float: right;
    }

    .error-log {
      clear: both;
      white-space: pre-wrap;
    }

    .centered {
      text-align: center;
    }

    .continue {
      align:center;
      background-color: var(--paper-green-500);
      color: white;
    }

  </style>
  <template>
    <partial-base narrow="[[narrow]]" show-menu='[[showMenu]]'>
      <span header-title>About</span>

      <div class='content fit'>
        <div class='about'>
          <div class="centered">
            <img src="/static/favicon/apple-touch-icon-180x180.png" height="192" /><br />
            <b>AgSense Ltd ( New Zealand )</b> <br />

            <h2>FARM ASSISTANT UI DEMO</h2>
            <pre>IMPORTANT: THIS DEMO BEST WITHIN A CHROME WEB BROWSER</pre>
          </div>

          <p>Some 3 years ago a small team working from a farm in Pukemaori in Western Southland, NZ, took it upon themselves to utilise the growing array of commoditised integrated circuits and open sources software to provide a generic platform for monitoring/controlling sensors within a farm environment.</p>

          <p>Our goals were to:
          </ul>
          <li>To provide a flexible, extensible, 900Mhz based wireless sensor network and management interface dedicated to the needs of farmers</li>
          <li>To enable farmers to integrate existing systems and extend the system to interface additional data sources and sinks.</li>
          <li>To keep the costs of such technologies to a minimum</li>
          </ul>
          </p>

          <p>This simulated demonstrating represents the FIRST official preview of our work! The UI represents a pure HTML5 interface that will be compatible across desktop, smart phone and tablet.</p>

          <p>We envisage having a fully functional system with hardware early in 2017.</p>

          <p>If you are a farmer; developer; integrator; investor; potential partner; or simply interested in our work, please follow our work here at: <a href="http://facebook.com/agsensenz">http://facebook.com/agsensenz</a></p>


          <p>
          <h3>Cababilities</h3>

          <ul>
            <li>Add a devices.</li>
            <li>Add inputs/outputs (toggle switch, tank sensor, camera).</li>
            <li>Connect nodes.</li>
            <li>Route traffic - i.e. create your own SMS alert.</li>
            <li>View history.</li>
            <li>View device on map of farm.</li>
          </ul>
          </p>

          <p>
          <h3>Disclaimer</h3>

          <ul>
            <li>This is a simulated demonstration only.</li>
            <li>The software is functional but is undergoing constant improvement.</li>
            <li>Some latency can be expected due to the server's location (Europe).</li>
          </ul>
          </p>

          <p>
          <h3>Terms</h3>
          <ul>
            <li>We agree to refrain from sharing the link to this demonstration or making/distributing any screenshots without prior approval from AgSense Ltd.</li>
            <li>The user interface design (where this differs from Node Red and/or Home Assistant) and name "Farm Assistant" is the exclusive intellectual property of AgSense Ltd.</li>
          </ul>
          </p>

          <p>

          <h3>Acknowledgements</h3>

          A BIG THANKYOU to those involved:
          <ul>
            <li>Lead developer, Pavel Ponomarev</li>
            <li>Graphic Designer, Igor Ivashkevych</li>
            <li>The Node Red team (IBM)</li>
            <li>The Home Assistant project</li>
          </ul>
          </p>


          <p>
          Thank you,<br/>

          <i>Andrew McClure - Director, AgSense Ltd.</i><br/>
          andrew@agsense.co.nz
          </p>

            <paper-button raised class="continue" on-tap="onContinue">
              <iron-icon icon="mdi:check"></iron-icon>CONTINUE</paper-button>







        </div>
        <!--p class='error-log-intro'>
          The following errors have been logged this session:
          <paper-icon-button icon='mdi:refresh' on-tap='refreshErrorLog'></paper-icon-button>
          </p>
          <pre class='error-log'>[[errorLog]]</pre-->
      </div>
    </partial-base>
  </template>
</dom-module>
