<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel='import' href='../../bower_components/paper-toolbar/paper-toolbar.html'>
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../bower_components/iron-icon/iron-icon.html'>

<link rel="import" href="../../bower_components/leaflet-map/leaflet-map.html">

<!-- temp work around -->
<link rel="stylesheet" href="../../bower_components/leaflet/dist/leaflet.css" />

<link rel="import" href="../components/entity/ha-entity-marker.html">

<style>
  /* Otherwise they go through overlays. */
  .leaflet-top, .leaflet-bottom {
    z-index: 0;
  }
</style>

<dom-module id="partial-map">
  <style>
    .map {
      position: relative;
    }
  </style>
  <template>
    <div class='layout vertical fit'>
      <paper-toolbar>
          <paper-icon-button icon='mdi:menu' class$='[[computeMenuButtonClass(narrow, showMenu)]]' on-tap='toggleMenu'></paper-icon-button>
        <div class='title'>Map</div>
      </paper-toolbar>

      <div class="flex map">
        <leaflet-map class="fit" fit-to-markers id="map" max-zoom="18" min-zoom="8">
          <leaflet-tilelayer detect-retina url='[[tilesUrl]]'>
          </leaflet-tilelayer>


          <template is='dom-repeat' items='[[zoneEntities]]'>
            <leaflet-divicon id="[[item.entityId]]" icon-width="24" icon-height="24">
              <template is='dom-if' if='[[item.attributes.icon]]'>
                <iron-icon icon$='[[item.attributes.icon]]'></iron-icon>
              </template>
              <template is='dom-if' if='[[!item.attributes.icon]]'>[[item.entityDisplay]]</template>
            </leaflet-divicon>

            <leaflet-marker latitude="[[item.attributes.latitude]]" icon="[[item.entityId]]"
              longitude="[[item.attributes.longitude]]" title="[[item.entityDisplay]]"
              no-clickable></leaflet-marker>

            <leaflet-circle latitude="[[item.attributes.latitude]]"
              longitude="[[item.attributes.longitude]]" no-clickable
              radius="[[item.attributes.radius]]" fill color="#FF9800">
            </leaflet-circle>
          </template>

          <template is='dom-repeat' items='[[locationEntities]]'>
            <leaflet-divicon id="[[item.entityId]]">
              <ha-entity-marker entity-id$="[[item.entityId]]"></ha-entity-marker>
            </leaflet-divicon>

            <leaflet-marker latitude="[[item.attributes.latitude]]" icon="[[item.entityId]]"
              longitude="[[item.attributes.longitude]]"
              ></leaflet-marker>

            <template is='dom-if' if='[[item.attributes.gps_accuracy]]'>
              <leaflet-circle latitude="[[item.attributes.latitude]]"
                longitude="[[item.attributes.longitude]]" no-clickable
                radius="[[item.attributes.gps_accuracy]]" fill color="#0288D1">
              </leaflet-circle>
            </template>
          </template>
        </leaflet-map>
      </div>
    </div>
  </template>
</dom-module>
