<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">

<link rel="import" href="./partial-base.html">

<link rel="import" href="../components/state-history-charts.html">

<link rel="import" href="../components/period-picker.html">

<dom-module id="partial-history">
<style>
    :host {
      display: block;
      background: #E5E5E5;
    }

    .content.wide {
      padding: 8px;
    }

    paper-input {
      max-width: 200px;
    }

    .narrow paper-input {
      margin-left: 8px;
    }

    paper-material {
      background: white;
    }

  </style>
  <template>
    <paper-header-panel mode='waterfall'>
      <paper-toolbar class="medium">
        <paper-icon-button icon='mdi:menu' class$='[[computeMenuButtonClass(narrow, showMenu)]]' on-tap='toggleMenu'></paper-icon-button>
        <div class="title">
          <span>History</span>
        </div>
        
        <period-picker></period-picker>

        <paper-icon-button icon="mdi:refresh" header-buttons
                           on-tap="handleRefreshClick"></paper-icon-button>
      </paper-toolbar>

      <div class="fit"> 
        <state-history-charts state-history="[[stateHistory]]"
                              is-loading-data="[[isLoadingData]]">
        </state-history-charts>
      </div>
    </paper-header-panel>
  </template>
</dom-module>
