<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="./partial-base.html">

<link rel="import" href="../components/entity-list.html">

<dom-module id="partial-dev-set-state">
  <style>
    .form {
      padding: 24px;
      background-color: white;
      margin-top: 64px;
      -ms-user-select: initial;
      -webkit-user-select: initial;
      -moz-user-select: initial;
    }

    .ha-form {
      margin-right: 16px;
    }
  </style>

  <template>
    <partial-base narrow="[[narrow]]" show-menu='[[showMenu]]'>
      <span header-title>Set State</span>

      <div class='form fit'>
        <div>
          Set the representation of a device within Farm Assistant.<br />
          This will not communicate with the actual device.
        </div>

        <div class$='[[computeFormClasses(narrow)]]'>
          <div class='ha-form flex'>
            <paper-input label="Entity ID" autofocus required value='{{entityId}}'></paper-input>
            <paper-input label="State" required value='{{state}}'></paper-input>
            <paper-textarea label="State attributes (JSON, optional)" value='{{stateAttributes}}'></paper-textarea>
            <paper-button on-tap='handleSetState' raised>Set State</paper-button>
          </div>

          <div class='sidebar'>
            <h4>Current entities:</h4>
            <entity-list on-entity-selected='entitySelected'></entity-list>
          </div>
        </div>
      </div>
    </partial-base>
  </template>
</dom-module>
