<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<link rel="import" href="./partial-base.html">

<link rel="import" href="../components/ha-logbook.html">
<link rel="import" href="../components/loading-box.html">

<dom-module id="partial-logbook">
  <style>
  .selected-date-container {
    padding: 0 16px;
  }

  paper-input {
    max-width: 200px;
  }
  </style>
  <template>
    <partial-base narrow="[[narrow]]" show-menu='[[showMenu]]'>
      <span header-title>Logbook</span>

      <paper-icon-button icon="mdi:refresh" header-buttons
        on-tap="handleRefresh"></paper-icon-button>

      <div>
        <div class='selected-date-container'>
          <paper-input label='Showing entries for' id='datePicker'
            value='[[selectedDate]]' on-focus='datepickerFocus'></paper-input>

          <loading-box hidden$='[[!isLoading]]'>Loading logbook entries</loading-box>
        </div>
        <ha-logbook entries="[[entries]]" hidden$='[[isLoading]]'></ha-logbook>
      </div>
    </partial-base>
  </template>
</dom-module>
