<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel='import' href='../../bower_components/paper-toolbar/paper-toolbar.html'>
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
    
<dom-module id="partial-red">
  <style>
  </style>
  <template>
        <div class='layout vertical fit'>
      <paper-toolbar>
        <paper-icon-button icon='mdi:menu' class$='[[computeMenuButtonClass(narrow, showMenu)]]' on-tap='toggleMenu'></paper-icon-button>
        <div class='title'>Node Red</div>
      </paper-toolbar>
      <iframe id="red-frame"  src='' name="red-frame" frameborder="0" noresize="noresize"></iframe>
    </div>
  </template>
</dom-module>
